:root {
  --fgA: #f28a0a;
  --bgT: #341f04f4;
  --bgTA: #130c02d2;
  --bgTB: #1c2338ba;
  --bgST: #b86603;
}
.App {
  text-align: center;
}
button {
  border: none;
}
.contact-us:hover {
  background-color: black;
  color: white;
  border: solid 1px var(--fgA);
}
.main-services {
  margin: 3em auto;
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.services-offered {
  box-shadow: 0.2em 0.2em 0.2em black;
  font-weight: bolder;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  cursor: pointer;
  margin: 0em 0.95em 0.95em 0em;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(-270deg, var(--bgST), transparent);
}
.s-description {
  display: flex;
  align-items: center;
  border-bottom-right-radius: 30px;
  min-height: 100px;
  flex-grow: 1;
}
.s-description > p {
  border-bottom-right-radius: 30px;
  margin: 0;
  padding: 0.5em;
}
.s-image {
  position: relative;
}
.s-image > img {
  width: 100%;
  border-top-left-radius: 30px;
  display: block;
  transform: scale(0.9);
}
.s-image > h1 {
  font-size: 1.4em;
  position: absolute;
  color: black;
  top: 1em;
  right: 0;
  left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Warehousing */
.warehousing .float-description {
  background-color: transparent;
}
.warehousing .float-description h1 {
  text-shadow: 0.04em 0.04em 0.04em black;
  color: orange;
  font-size: 2.7em;
}
.warehousing .float-description .key-obligations {
  background-color: rgba(0, 0, 0, 0.734);
  padding: 1em;
  border-radius: 10px;
}
@media (orientation: landscape) {
  .c-float {
    flex-wrap: nowrap;
  }
  .direct-contacts {
    min-width: 20%;
    max-width: 20%;
  }
  .contact-form{
    flex-direction: row;
  }
  .c-image {
    width: 50%;
  }
  .contact-form form {
    width: 50%;
  }
  .social{
    flex-direction: row;
  }
  .slide-image > img {
    width: 100%;
    display: block;
  }
  .services-offered{
    width: 250px;
  }
  .services-P {
    display: none;
  }
  .show-nav {
    display: none;
  } 
  .services-L {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    border-bottom: solid 3px var(--fgA);
  }
  .services-L a {
    font-size: 1.1em;
    text-decoration: none;
    color: blue;
    padding: 0.3em 0.5em;
    border-radius: 5px;
    font-weight: bolder;
  }
  .services-L a:hover {
    color: rgb(255, 140, 0);
    background-color: rgb(29, 29, 42);
  }
}

@media (orientation: portrait) {
  .c-float{
    flex-wrap: wrap;
  }
  .direct-contacts {
    min-width: 42%;
    max-width: 42%;
  }
  .contact-form {
    flex-direction: column;
  }
  .c-image {
    width: 100%;
  }
  .contact-form form {
    width: 100%;
  }
  .social {
    flex-direction: column;
  }
  .warehousing .float-description .key-obligations {
    width: 80%;
  }
  .slide-image > img {
    height: 100%;
    display: block;
  }
  .services-offered{
    min-width: 45%;
    max-width: 45%;
  }
  .show-nav {
    font-size: 1.7em;
    border: solid 3px;
    padding: 0.2em 0.1em;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
  }
  .show-nav:hover {
    color: var(--fgA);
  }
  .close-services {
    display: flex;
    justify-content: right;
    color: white;
    font-size: 1.4em;
    cursor: pointer;
  }
  .close-services:hover {
    color: var(--fgA);
  }
  .services-L {
    display: none;
  }
  .services-P {
    position: fixed;
    top: 1em;
    bottom: 1em;
    z-index: 3;
    background-color: var(--bgT);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.5em;
  }
  .services-P > a {
    text-align: left;
    font-size: 1.1em;
    padding: 1em 0.5em;
    color: white;
    font-weight: bolder;
    text-decoration: none;
  }
  .services-P > a:hover {
    background-color: var(--fgA);
    color: black;
  }
}

.slide-line {
  border: solid 1px var(--fgA);
  width: 40%;
  margin: 0 auto;
}

.p_w {
  background: url("./assets/logistics1.png") black no-repeat right center;
  background-size: 200px;
}

.p {
  padding: 1em;
  margin: 0 auto;
  color: white;
  background-color: var(--bgTB);
  font-weight: bolder;
}


/* --------------------Logo-------------------- */
.logo {
  width: max-content;
}
.logo-image {
  display: block;
}

/* --------------------NavBar------------------ */
.nav {
  display: flex;
  align-items: center;
}
/* Routes */
.routing {
  min-height: 500px;
}
/* Footer */
.footer {
  background-color: rgba(0, 0, 0, 0.804);
  margin-top: 0;
}
.footer-logo {
  display: flex;
  justify-content: right;
}
.contacts-wrapper {
  display: flex;
  align-items: center;
}
.contacts {
  padding: 1em;
  color: white;
}
.contacts > div {
  display: flex;
  align-items: center;
  padding: 5px;
  /* color: blue; */
}
.contacts > div > a {
  color: gray;
  font-weight: bolder;
  padding-left: 5px;
}
.footer-wrapper {
  background: url("./assets/gallery/connect.png") black center no-repeat;
  background-size: 200px;
  color: white;
  border: solid 1px transparent;
}
.footer > p {
  font-weight: bolder;
  color: gray;
}
b{
  color: orange;
}
em {
  color: blue;
}
.social {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social a {
  margin: 10px;
  text-decoration: none;
  font-size: 1.4em;
  color: blue;
}
.social a:hover {
  color: orange;
}
/* Subscribe */
.subscribe-wrapper {
  color: white;
  width: 400px;
}
.subscribe {
  border: solid 1px var(--bgST);
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  background-color: black;
  margin: 5px 10px;
}
.subscribe > input {
  flex-grow: 1;
  outline: none;
  border: none;
  padding: 0.8em;
  background-color: transparent;
  color: orange;
  font-weight: bolder;
}
.subscribe > button {
  font-size: 1.2em;
  background-color: var(--fgA);
  padding: 3px 2em;
  cursor: pointer;
}
.subscribe > button:hover {
  background-color: blue;
  color: var(--fgA);
}
/* Home */
.home {
  
}
.responsibilities-div {
  display: flex;
  align-items: center;
}
.res-image {
  width: 50%;
}
.res-image > img {
  width: 100%;
  display: block;
}
.responsibilities li {
  text-align: left;
}
.responsibilities > h2 > a {
  text-decoration: none;
}
.responsibilities > h2 > a:hover {
  color: gray;
}
/* SlideShow */
.key-obligations {
  background-color: rgba(0, 0, 0, 0.481);
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h4 {
  font-weight: bolder;
  padding: 2px;
  text-align: left;
  width: 90%;
  display: flex;
}
.ticks {
  display: block;
  color: var(--fgA);
  transform: scale(0.6);
}
.slide-show-wrapper {
}
.slide-show {
  position: relative;
}
.slide {
  align-items: center;
  /* overflow: hidden; */
  perspective: 800px;
}
.slide-image {
  margin-bottom: 0;
  overflow: hidden;
}
@keyframes fadeimagein {
  from {
    transform: rotate3d(0,2,0,90deg);
  }
  to{
    opacity: 1;
  }
}
.float-description {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.45);
  padding-bottom: 1em;
}
.float-description h1 {
  color: var(--fgA);
  font-size: 2.5em;
}
.contact-us {
  font-weight: bolder;
  background-color: var(--fgA);
  padding: 1em 2em;
  border-radius: 10px;
}
.dots {
  display: flex;
  justify-content: center;
}
.dot {
  margin: 5px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: var(--fgA);
}
.active-dot {
  background-color: black;
}

/* Location */
.location-map {
  padding: 0;
}

/* ------------------------------------------ */
input, textarea {
  border: none;
  outline: none;
  background-color: transparent;
}
/* ------------------------------------------ */

/* Contact Us */
.contactus > h1 {
  color: var(--fgA);
  text-shadow: 0.04em 0.04em 0.04em black;
}
.contact-form {
  width: 97%;
  margin: 1em auto;
  margin-top: -2em;
  padding-top: 2em;
  display: flex;
  background-color: white;
  box-shadow: 0.04em 0.04em 0.4em black;
}
.c-image{
  display: flex;
  align-items: center;
}
.c-image img {
  width: 100%;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: center;
}
.fields{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}
.fields input, textarea{
  width: 100%;
  background-color: gray;
  color: rgb(43, 31, 7);
  font-weight: bolder;
  padding: 1em;
}
.contact-form form input[type="submit"] {
  background-color: orange;
  width: max-content;
  margin: 1em auto;
  padding: 1em 2em;
  font-weight: bolder;
  border-radius: 10px;
  cursor: pointer;
}
.contact-form form input[type="submit"]:hover {
  background-color: blue;
  color: white;
}
.c-float {
  display: flex;
  justify-content: center;
}
.direct-contacts {
  height: 200px;
  background-color: white;
  margin: 0.5em;
  box-shadow: 0.04em 0.04em 0.2em black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}
.c-icons {
  font-size: 2em;
  color: var(--fgA);
}
.direct-contacts > p {
  font-family: monospace;
}
.hd {
  font-weight: bolder;
}
.c-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#askquestion {
  padding: 1.5em;
  background-color: var(--fgA);
  border-radius: 7px;
  font-weight: bolder;
}
#askquestion:hover {
  background-color: gray;
  border: solid 1px var(--fgA);
}
.meetings {
  width: 97%;
  margin: 0 auto;
  margin-bottom: 2em;
  border: solid 1px;

  display: flex;
  justify-content: center;
}
.meeting, .consultation {
  margin: 0.5em;
  width: 50%;
  height: 200px;
  background-color: gray;
  border-radius: 10px;
}